<!DOCTYPE html>
<html>
<head>
  <title>Perfil</title>
</head>
<body>
  <h1>Perfil</h1>
  
  <div>
      Bienvenido my friend <%= user.fullName %>
      <div class="button-box">
        <button>Eliminar usuario</button>
        <form action="/logout" method="POST">
          <button type="submit">Cerrar sesión</button>
        </form> 
      </div>
  </div>
   
   
  
    

</body>
</html>